<div class="row">
  <div class="col">
    <form action="/places" method="POST">
      <input type="text" placeholder="Place name" name="name">
      <select name="type">
        <option value="coffee shop">coffee shop</option>
        <option value="bookstore">Bookstore</option>
      </select>
      <input type="text" placeholder="latitude..." name="lat">
      <input type="text" placeholder="longitude..." name="lng">
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="col">
    
<div id="map"></div>
  </div>
</div>